{% extends "BiblioEntityBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="page-title"><h1>Infos Livre: {{ entity.titre }}</h1></div>
{% include 'BiblioInscriptionBundle:Default:notification.html.twig' %}
<ul>
<li><u>Thème(s):</u>
{% for theme in entity.themes %}
    {{ theme.titre }}
{% endfor %}
</li>
<li> <u>Auteur(s):</u>
        {% for auteur in entity.auteurs %}
            {{ auteur.prenom }} {{ auteur.nom }},
        {% endfor %}
</li>
<li> <u>Résumé du livre:</u>
    {{ entity.resume }}
</li>
<ul>	
	
 <br>
 {% if entity.nbExemplaire > 0 %}
   <a class="btn btn-success" role="button" href="#"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Ce livre est disponible en bibliothèque</a>
 {% else %}
 <a class="btn btn-danger" role="button" href="#"> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Indisponible actuellement</a>
   <a class="btn btn-warning" role="button" href="{{ path('biblio_lecteur_reserverLivre', { 'id': entity.id }) }}"> <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Réserver ce livre</a>
 {% endif %}
   <a class="btn btn-default" role="button" href="{{ path('biblio_main_homepage') }}"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Retour Accueil</a>
    {% endblock %}