<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>{% block title %}Bibliothèque{% endblock %}</title>


  {% block stylesheets %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/biblioentity/css/style.css') }}">
  {% endblock %}

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand text-center">Bonjour {% if app.user %} {{ app.user.prenom }} {{app.user.nom}} ! (<b>{{ app.user.username }} - {% for role in app.security.token.roles %}
      {{ role.designation }}
    {% endfor %}</b>)[<a href="{{ path('logout') }}">Se déconnecter</a>] {% else %} ! Identifiez-vous maintenant pour profiter des avantages du merveilleux système de gestion de bibliothèque.{% endif %} </p>
    </div>
  </div>
</nav>
  <div class="container">

    <div id="header" class="jumbotron">

        <h2 class="title_repeat"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Gestion d'une bibliothèque universitaire</h1>


      </div>

       {% block content %}

        {% endblock %}
    </div>

    <hr>


    <footer>

      <p>Projet Symfony SD, CT, GR</p>

    </footer>

  </div>


  {% block javascripts %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  {% endblock %}


</body>

</html>