{% extends "BiblioEntityBundle:Default:layout.html.twig" %}

{% block pret_contenu %}

<h3>Liste des prêts</h3>
{% for pret in prets %}
 - Le livre " {{pret.livre.titre}} " a été emprunté le {{pret.dateReservation|date('d/m/Y')}} par {{pret.lecteur.nom}} {{pret.lecteur.prenom}} <a href="{{ path('biblio_pret_retour', { 'id': pret.id }) }}">Retour du prêt</a> </br>
 {% else %}
      <li>Aucun prêt pour cette recherche</li>
{% endfor %}

<h3>Liste des réservations</h3>
{% for reservation in reservations %}
 - Le livre " {{reservation.livre.titre}} " a été reservé le {{reservation.dateReservation|date('d/m/Y')}} par {{reservation.lecteur.nom}} {{reservation.lecteur.prenom}} <a href="{{ path('biblio_reservation_annulation', { 'id': reservation.id }) }}">Annuler Réservation</a>
 {% if reservation.livre.nbExemplaire > 0 %}
 - <a href="{{ path('biblio_reservation_pret', { 'id': reservation.id }) }}">Retirer le livre</a> </br>
  {% else %}
  </br>
{% endif %}
 {% else %}
      <li>Aucune réservation pour cette recherche</li>
{% endfor %}

</br>

{% for message in app.session.flashbag.get('info') %}

   <p> {{ message }}</p>

 {% endfor %}
 
 <a class="btn btn-primary btn-lg" href="{{ path('biblio_pret_homepage') }}"> Retour Accueil</a>


{% endblock %}